extends esquema

block content
    h1.titulo-productos-destacados Contáctenos
    form.form-horizontal#contactForm(action='/contacto', method='GET')
      .form-group
        label.col-sm-6.control-label(for='name') Nombre completo
        div.col-sm-6
            input#name.form-control(type='text', required="required", placeholder='Su nombre', name="name")
      .form-group
        label.col-sm-6.control-label(for='email') Correo electrónico
        div.col-sm-6
            input#email.form-control(type='email', required="required", placeholder='Su e-mail', name="email")
      div.form-group
        div.col-sm-offset-6.col-sm-6
            button.btn.btn-primary(type='submit') Enviar
    //Inicio del modal
    .modal.fade#modalContacto(tabindex='-1', role='dialog')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4.modal-title Formulario de Contacto
          .modal-body
            .alert.alert-success
                p Sus datos se han enviado corréctamente
            p.lead
                | Usted nos ha suministrado los siguientes datos:
            ul
                li
                    | Nombre completo: 
                    span#resName
                li
                    | Dirección de correo electrónico: 
                    span#resEmail
          .modal-footer
            button.btn.btn-primary(type='button', data-dismiss='modal') Close
        // /.modal-content
      // /.modal-dialog
    // /.modal