doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title eCommerce Store
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/main.css')
  body
    // Inicio del top-bar
    nav.navbar.navbar-default
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') eCommerce Store
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='/')
                | Inicio
                span.sr-only (current)
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                | Categorías 
                span.caret
              ul.dropdown-menu
                li
                  a(href='/categoria/1') Categoría 1
                li
                  a(href='/categoria/2') Categoría 2
                li
                  a(href='/categoria/3') Categoría 3
            li
              a(href='/contacto') Contacto
          form.navbar-form.navbar-right
            .form-group
              input.form-control(type='text', placeholder='Search')
            button.btn.btn-default(type='submit') Submit
        // /.navbar-collapse
      // /.container-fluid
    // Fin del top-bar
    .container
      .row
        unless name
          // inicio banner
          #banner-home-page.carousel.slide(data-ride='carousel')
            // Indicators
            ol.carousel-indicators
              li.active(data-target='#banner-home-page', data-slide-to='0')
              li(data-target='#banner-home-page', data-slide-to='1')
              li(data-target='#banner-home-page', data-slide-to='2')
            // Wrapper for slides
            .carousel-inner(role='listbox')
              .item.active(style='height: 300px; width: 900px;')
                img(src='/img/banner1.jpg', alt='...')
                .carousel-caption
                  | Descripción de la imagen para el banner.
              .item
                img(style='height: 300px; width: 900px;', src='/img/banner2.jpg', alt='...')
                .carousel-caption
                  | Esta es otra imagen
              .item
                img(style='height: 300px; width: 900px;', src='/img/banner3.jpg', alt='...')
                .carousel-caption
                  | Esta es la última imagen
            // Controls
            a.left.carousel-control(href='#banner-home-page', role='button', data-slide='prev')
              span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
              span.sr-only Previous
            a.right.carousel-control(href='#banner-home-page', role='button', data-slide='next')
              span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
              span.sr-only Next
          // fin banner
      .row
        block content

    .footer.container-fluid
      .row
        ul.about-us.col-xs-12.col-sm-6.col-md-4
          li
            a(href='') Who we are?
          li
            a(href='') Our mission
          li
            a(href='') Our history
        ul.contact-us.col-xs-12.col-sm-6.col-md-4
          li 1-800-331-24455
          li San Francisco
          li United States of America
        ul.social-networks.col-xs-12.col-sm-6.col-md-4
          li
            a(href='http://facebook.com', target='_blank')
              img(src='/img/facebook.png', alt='')
          li
            a(href='http://twitter.com', target='_blank')
              img(src='/img/twitter.png', alt='')
          li
            a(href='http://linkedin.com', target='_blank')
              img(src='/img/linkedin.png', alt='')

    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
